.whppt-lightMode {
  .whppt-button {
    @apply text-whpptDarkMode;
  }
}

.whppt-button--defaults {
  @apply text-whpptLightMode flex items-center z-10;
  @apply text-base tracking-wide;
  @apply py-3 px-6;
  margin: .5rem 0;
  &:disabled {
    @apply opacity-30;
  }
  &:disabled::before, &:disabled::after {
    display: none;
  }
  &--text{
    @apply mr-3
  }
}

.whppt-button {
  @apply border-whpptActive border rounded-full;
  @apply bg-transparent relative overflow-hidden;
  transition: .5s;
}

 .whppt-button::before, .whppt-button::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  @apply text-whpptActive;
  @apply bg-whpptActive;
  transition: 1s ease;
}
 
 .whppt-button::before {
  top: -1em;
  left: -1em;
 }
 
 .whppt-button::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
 }
 
 .whppt-button:hover::before, .whppt-button:hover::after {
  height: 410px;
  width: 410px;
 }
 
 .whppt-button:hover {
  @apply text-whpptLightMode;
 }
 
 .whppt-button:active {
  filter: brightness(.8);
 }
 

 .whppt-secondary-button {
  @apply py-3 px-6 border-b border-transparent;
  &:hover{
    @apply border-whpptActive;
  }
 }