.whppt-checkbox {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;

  label {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    position: relative;
    cursor: pointer;
  }

  input {
    width: 1rem;
    @apply hidden;
  }
}
