.whppt-lightMode {
  .whppt-content {
    &-tree-list {
      @apply bg-whpptLightBorder;
    }
    &__component {
      &:hover {
        .whppt-content-actions__action {
          @apply bg-whpptLightBorder;
        }
      }
    }
  }
  .whppt-content-actions {
    &__action {
      @apply text-whpptDarkBorder bg-whpptLightBorder;
    }
  }

  .whppt-content-actions {
    @apply bg-whpptLightBorder text-whpptDarkBorder;
  }
}

.whppt-content {
  @apply hover:bg-blue-300 hover:bg-opacity-20 hover:outline-blue-300 hover:outline;
  &--hovered:hover {
    @apply hover:bg-green-300 hover:bg-opacity-20 hover:outline-green-300 hover:outline;
  }
  &__item {
    @apply p-3 bg-whpptDarkBorder mb-2 rounded w-full border border-transparent;
    &:hover {
      @apply border-whpptActive;
    }
  }
  &__component {
    @apply flex gap-3;
    &:hover {
      .whppt-content-actions__action {
        @apply bg-whpptDarkBorder;

        &:hover,
        &--active {
          @apply bg-whpptActive text-white;
          .whppt-content-actions__action-info {
            @apply flex;
          }
        }
      }
    }
    .whppt-content-actions__action--active {
      @apply bg-whpptActive text-white;
    }
  }

  &--editor-open {
    @apply pb-20;
    min-height: 300px;
  }

  &-tree-list {
    @apply bg-whpptDarkBorder p-2 mb-2;
    &__inner-list {
      @apply bg-whpptActive px-2 my-2 rounded justify-between items-center flex cursor-pointer;
      &-left {
        @apply flex;
      }
      &-right {
        @apply flex;
        svg {
          @apply h-4 w-4;
        }
      }
    }
  }
}

.whppt-content-actions {
  @apply flex flex-col bg-whpptDarkBorder bg-opacity-50 border-t text-white border-white;
  &__action {
    @apply w-10 h-10 p-2 relative;
    &-info {
      @apply hidden top-0 absolute px-2 bg-whpptActive whitespace-nowrap items-center;
      left: 40px;
      height: 45px;
    }
  }
}
