.whppt-lightMode {
  .whppt-editor {
    @apply bg-whpptLightMode text-whpptDarkMode;
    &--active {
      @apply border-whpptDarkMode;
    }
    &__header {
      @apply border-whpptDarkMode;
    }
  }
}
.whppt-editor {
  @apply fixed right-0 top-0 h-screen w-0 transition-[width] duration-300 ease-in;
  @apply bg-whpptDarkMode text-whpptLightMode font-Roboto;
  @apply z-editorPanel;

  &--active {
    @apply border-l-2 border-whpptDarkMode w-[480px];
  }

  &__header {
    @apply border-b-2 border-whpptLightMode p-5 text-xl flex items-center justify-between font-bold;
    &--button {
      @apply w-10 h-10;
    }
  }
  &__content {
    @apply p-5;
    @apply overflow-y-auto h-[calc(100vh-100px)];

    input {
      @apply text-whpptDarkMode border-2 border-whpptDarkMode w-full p-3 rounded;
    }
  }
}
