@font-face {
  font-family: 'Roboto';
  src: url('../src/fonts/Roboto/Roboto-Bold.ttf') format('ttf'), url('../src/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('../src/fonts/Roboto/Roboto-BoldItalic.ttf') format('ttf'), url('../src/fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('../src/fonts/Roboto/Roboto-Italic.ttf') format('ttf'), url('../src/fonts/Roboto/Roboto-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('../src/fonts/Roboto/Roboto-Regular.ttf') format('ttf'), url('../src/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
