.whppt-form {
  &-actions {
    @apply flex;
    &--action {
      @apply mr-2;
    }
  }
}
.whppt-lightMode {
  .whppt-form {
    &-section {
      @apply bg-whpptLightMode;
    }
    &__content {
      @apply bg-whpptLightMode;
    }
  }
}

.whppt-form {
  @apply flex px-10 py-2;
  display: flex;
  gap: 1rem;

  &__user-invite {
    @apply break-words contents text-left;
    @apply ml-2;
    svg {
      @apply h-5 w-5;
    }
  }
  &--bottom-gap {
    @apply mb-5;
  }
  &-split {
    display: flex;
    gap: 1rem;
    &--even {
      @apply w-1/2;
    }
  }
  &--flex-apart {
    @apply flex justify-between items-center;
  }

  &-section {
    @apply px-6 py-4 bg-whpptDarkMode;
    &--bottom-gap {
      @apply mb-5;
    }
  }

  .whppt-form-slug-placeholder {
    height: 52px;
    display: flex;
    align-items: center;
  }

  &-page-settings {
    &__actions {
      @apply flex flex-col w-3/12;
    }
    &__form {
      @apply w-8/12 overflow-auto;
    }
  }
}
.whppt-form-heading {
  font-weight: bold;
  font-size: 2.5rem;
}

.whppt-form {
  @apply w-full;
  &__actions {
    @apply w-3/12;
  }
  &__content {
    @apply w-8/12;
    @apply px-6 py-4 bg-whpptDarkMode;
  }
  &--flex-apart {
    @apply flex gap-2 w-full;
  }
}
