.whppt-gallery {
  @apply bg-whpptDarkMode px-6 py-4 mb-5;

  &__main-container {
    @apply flex flex-1 overflow-auto gap-1 w-full;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__grid {
    @apply grid grid-cols-gallery gap-4 flex-1;
  }

  &__settings {
    @apply w-0 transition-width duration-300 ease-in;

    &--active {
      @apply w-96;
    }

    &__container {
      @apply flex flex-col gap-4 border-2 border-whpptStandard border-opacity-70 rounded-lg h-full py-0 px-4 max-h-screen;
    }

    &__tag-input {
      @apply flex gap-2 justify-between;
    }

    &__tag-add {
      @apply text-5xl cursor-pointer mt-2;
    }

    &__tag-container {
      @apply flex gap-4 flex-wrap;
    }

    &__action-buttons {
      @apply flex gap-4;
    }
  }

  &__image {
    @apply h-52 w-96 object-cover cursor-pointer;

    &--selected {
      @apply outline-whpptActive outline-2 outline;
    }
  }

  &__filters {
    @apply flex items-center gap-4 w-full px-5;
  }

  &__tag {
    @apply bg-whpptActive px-2 py-1 rounded-md;
  }

  &__day-picker {
    &__container {
      @apply relative;
    }

    &__calendar {
      @apply absolute bg-whpptDarkMode rounded-lg border-solid border-2 border-whpptStandard;
    }
  }
}
