.whppt-lightMode {
  .whppt-gallery {
    @apply bg-whpptLightMode text-whpptDarkMode;
    .whppt-form-heading {
      @apply text-whpptDarkMode;
    }
    .whppt-gallery-uploader__div {
      @apply border-whpptDarkMode;
    }
  }
}

.whppt-gallery {
  @apply bg-whpptDarkMode px-6 py-4 mb-5 flex w-full h-screen;

  &__title {
    @apply flex;
  }

  &__close {
    @apply h-8 w-8;
  }

  &__content {
    @apply w-full flex flex-col;
  }

  &__main-container {
    @apply flex flex-1 overflow-auto gap-1 w-full;
    @apply scrollbar-hide;
  }

  &-grid {
    @apply grid gap-4 flex-1 auto-rows-gallery;

    &__image {
      @apply grid-cols-galleryImages;
    }

    &__video {
      @apply grid-cols-galleryImages;
    }

    &__svg {
      @apply grid-cols-gallerySvgs;
    }

    &__doc {
      @apply grid-cols-gallerySvgs;
    }
  }

  &-settings {
    @apply translate-x-full transition-all duration-300 ease-in opacity-0 w-0;

    &--active {
      @apply translate-x-0 transition-all duration-300 ease-in w-settingsSidebar opacity-100;
    }

    &__container {
      @apply flex flex-col gap-4;
      @apply border-2 border-whpptStandard border-opacity-70 rounded-lg;
      @apply h-full py-0 px-4 max-h-screen overflow-auto w-settingsSidebar;
      @apply scrollbar-hide;
    }

    &__header {
      @apply flex justify-between items-baseline mt-3;
    }

    &__title {
      @apply flex flex-wrap items-center w-full max-w-[20rem];
      @apply text-3xl leading-9 font-bold;

      &__name {
        @apply whitespace-nowrap overflow-hidden text-ellipsis;
      }
    }

    &__icon {
      @apply h-7 w-7;
    }

    &__tag-input {
      @apply flex gap-2 justify-between;

      & .whppt-plaintext {
        @apply w-full;
      }
    }

    &__tag-add {
      @apply text-5xl cursor-pointer mt-2;
    }

    &__tag-container {
      @apply flex gap-4 flex-wrap;
    }

    &__tag {
      @apply bg-whpptStandard px-2 py-1 rounded-md;

      &--disabled {
        @apply opacity-disabled;
      }

      &--active {
        @apply bg-whpptActive;
      }
    }

    &__action-buttons {
      @apply flex gap-4;

      &--submit {
        @apply mt-auto mb-4 self-end;

        & button {
          @apply flex items-center justify-center;
          @apply text-2xl h-16 w-28;
        }
      }
    }
  }

  &__image {
    @apply h-galleryItem w-galleryImage object-cover cursor-pointer;

    &--selected {
      @apply outline-whpptActive outline-2 outline;
    }
    &:hover {
      @apply outline-whpptStandard outline-2 outline;
    }
  }

  &__image-name {
    @apply whitespace-nowrap overflow-hidden text-ellipsis;
  }

  &__svg {
    @apply h-galleryItem w-gallerySvg cursor-pointer;

    &--selected {
      @apply outline-whpptActive outline-2 outline;
    }
    &:hover {
      @apply outline-whpptStandard outline-2 outline;
    }

    & svg {
      @apply h-full w-full;
    }
    &--empty {
      @include checkers;
    }
  }
  &__doc {
    @apply h-galleryItem w-gallerySvg cursor-pointer mb-2 relative;

    &--selected {
      @apply outline-whpptActive outline-2 outline;
    }
    &:hover {
      @apply outline-whpptStandard outline-2 outline;
    }

    & svg {
      @apply h-full w-full;
    }
    &-type {
      @apply absolute inset-0 flex justify-center items-center z-0 uppercase;
    }
  }

  &__video {
    @apply mb-7;

    & video {
      @apply h-full w-full;
    }
  }

  &__filters {
    @apply w-full px-5;
  }

  &__day-picker {
    &__container {
      @apply relative;
    }

    &__calendar {
      @apply absolute bg-whpptDarkMode z-20;
      @apply rounded-lg border-solid border-2 border-whpptStandard;

      button:focus,
      button:active {
        @apply text-whpptLightMode bg-whpptActive;
      }

      button:hover:not([aria-disabled='true']) {
        @apply text-whpptLightMode bg-whpptActive;
      }
    }
  }

  &__loader {
    @apply relative h-48 flex justify-center items-center;

    &__spinner {
      @apply animate-spin rounded-full h-8 w-8 border-b-2 border-whpptActive top-2/4 right-2/4;
    }
  }

  &__footer {
    @apply w-1/2 sm:w-1/4 m-auto;
  }
}
