
.toggleMove{
    @apply transition-all duration-100 translate-x-0;
&--active{
    @apply translate-x-4;
}
}

.whppt-main-nav {
    @apply w-24 relative h-full font-Roboto ;
    z-index: 999;
    &--show-full-nav{
        @apply w-64;
    }
    .whppt-main-nav-contents {
        @apply fixed top-0 left-0 bottom-0 bg-whpptDarkMode;
        @apply flex flex-col justify-between;
        @apply border-r-2 border-whpptDarkBorder;
        @apply text-whpptLightMode w-24;

        &--show-full-nav{
            @apply w-64;
        }
    }   
    &__whppt-label{
        @apply ml-5 font-bold text-xl;
    }
    &__logo{
        @apply flex items-center px-5 py-3 border-b-2 border-whpptDarkBorder w-full;
    }
    &__icon{
        @apply w-12 h-12 flex;
    }
    &-group{
        @apply border-b-2 mr-1 border-whpptDarkBorder;

        &--title{
            @apply capitalize text-left px-5 pb-2 pt-4 text-lg;
        }
        &__nav-item{
            @apply flex items-center;
            @apply p-4  w-full;
            @apply border-l-4 border-transparent;
            
            .whppt-main-nav__icon{
                @apply w-6 h-6 opacity-60 hover:border-whpptActive; 
            }
            &--active{
                @apply bg-whpptDarkBorder border-whpptActive;
                .whppt-main-nav__icon{
                    @apply text-whpptActive opacity-100; 
                }
            }
            &:disabled {
                @apply opacity-30;
            }
        }
        &__label{
            @apply ml-5 ;
        }
 
        &__nav-item:hover{
            @apply border-whpptActive bg-whpptDarkBorder;

            .whppt-main-nav__icon{
                @apply text-whpptActive opacity-100; 
            }
        }
        &__toggle{
            @apply p-4 flex;
            &--label{
                @apply ml-1
            }
        }
 

    }
}
.whppt-lightMode {
    .whppt-main-nav {
        &-contents {
            @apply border-whpptLightBorder;
            @apply bg-whpptLightMode;
            @apply text-whpptDarkMode;
        }
        &-group__nav-item{
            @apply hover:bg-whpptDarkMode;
            &--active {
                @apply bg-whpptLightBorder;
            }
        }
        &__logo{
            @apply border-whpptLightBorder ;
        }
        &-group{
            @apply border-whpptLightBorder;
            &__nav-item:hover{
                @apply  bg-whpptLightBorder;
            }
        }
    }
}



