

.whppt-site-settings {
  display: flex;
  flex-direction: column;
}

.whppt-site-setings__actions {
  display: flex;
  gap: 1rem;

  &.right {
    justify-content: right;
  }
}

.whppt-site-setings__ruler {
  margin: 1rem 0;
}