.whppt-pagination {
  @apply flex items-center;

  &__buttons {
    @apply flex;

    button:nth-child(1) {
      @apply mr-2;
    }
  }

  &--dark {
    @apply text-whpptLightMode;

    .whppt-pagination__buttons {
      button {
        height: 1.5rem;
        width: 1.5rem;
      }

      svg {
        @apply text-whpptLightMode;
      }
    }

    .whppt-pagination__results {
      @apply text-whpptLightMode;
    }
  }

  &__per-page * {
    @apply cursor-pointer;
  }

  &__results {
    @apply text-center mx-2 w-32;
  }
}
