.whppt-lightMode {
}
.whppt-richtext-menu-border {
  @apply border-r pr-1 border-white;
  height: 20px;
}

.ProseMirror {
  @apply border-whpptDarkMode border rounded text-whpptDarkMode;
  @apply bg-whpptLightMode;
  margin: 1em 0;
  padding: 1rem 2rem 1rem 0.75rem;
  overflow-y: auto;
  line-height: 1.25;
  height: 60vh;
  min-height: 400px;
}

.whppt-richtext-menu-button {
  @apply p-2 m-1 rounded;
}
.whppt-richtext-menu-button.is-active {
  @apply bg-whpptActive;
}

.whppt-richtext {
  ul,
  ol {
    padding: 0 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
  }
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 32px;
  }
  h4 {
    font-size: 28px;
  }
}
