.whppt-lightMode {
  .whppt-select {
    &__control,
    &__option,
    &__indicators {
      cursor: pointer !important;
    }

    &__control,
    &__menu {
      @apply border-whpptStandard;
      background-color: #fff !important;
    }
    &__single-value {
      @apply text-whpptDarkMode;
      color: #121212 !important;
    }
    &__option {
      &:hover {
        @apply bg-whpptDarkMode text-whpptLightBorder;
      }
    }
  }
}

.whppt-select {
  @apply mb-2;
  @apply w-full relative;

  &__control,
  &__option,
  &__indicators {
    cursor: pointer !important;
  }

  &__control {
    padding: 6px 0;
  }
  &__control,
  &__menu {
    @apply w-full;
    background-color: transparent !important;
    border: 2px solid rgb(153, 152, 186, 0.7) !important;
    border-radius: 0.5rem !important;

    &:hover {
      border: 2px solid rgb(153, 152, 186) !important;
    }
    &:focus,
    &:focus-visible {
      @apply border-whpptActive border-opacity-100 outline-none caret-whpptActive;
    }
  }
  &__menu {
    background-color: #121212 !important;
  }

  &__single-value {
    color: #fff !important;
    @apply text-whpptLightMode;
  }
  &__option {
    &:hover {
      @apply bg-whpptLightMode text-whpptDarkBorder;
    }
  }
}
