.whppt-lightMode {
  .whppt-table {
    table {
      @apply bg-whpptLightMode text-whpptDarkMode;
    tbody {

        tr {
          @apply hover:bg-whpptLightBorder;;
        }
    }
    }
  }
}

.whppt-table {
  @apply w-full;
  &__header--left{
    @apply text-left 
  }

  &__actions{
    @apply flex;
  }
  &__action{
    @apply w-4 h-4 mr-3 relative;
    svg {
      @apply w-full
    }
    &--info{
      left:150%;
      top:-50%;
      @apply absolute p-2  bg-whpptDarkMode text-whpptLightMode hidden;
      @apply border-whpptStandard rounded border z-10;
   }
  }
  &__action:hover .whppt-table__action--info{
    @apply block;
  }

  &__container {
    @apply w-full overflow-auto rounded;
  }

  &__headers--fixed {
    @apply absolute top-0 left-0;
    @apply w-full;
  }

  &__footer {
    @apply bg-whpptDarkMode;

    tr td {
      @apply py-3 px-6;

      .whppt-table__pagination {
        @apply flex w-full;
      }
    }
  }

  table {
    @apply min-w-full;
    @apply border-2 border-opacity-60 border-whpptStandard bg-whpptDarkMode text-whpptLightMode rounded border-collapse;


    thead th {
      @apply py-3 px-6;
      @apply border-b-2 border-opacity-60 border-whpptStandard;
      @apply text-sm uppercase font-semibold tracking-wider;
    }
    
    tbody {
      tr {
        @apply hover:bg-whpptDarkBorder;
        @apply border-b-2 border-opacity-60 border-whpptStandard;
  
      }
      
      td {
        @apply py-4 px-6;
        @apply text-sm whitespace-nowrap;
      }
    }
  }

  &__header {
    &--start {
      @apply text-right;
    }

    &--end {
      @apply text-right;
    }
  }

  &--dense {
    .whppt-table__container {
      thead th {
        @apply py-3 px-6
      }

      tbody td {
        @apply py-3 px-6
      }
    }
  }

  &--no-data {
    td {
      @apply text-center p-8;
    }
  }
}
