.whppt-lightMode {
    .whppt-popup {
        @apply bg-whpptLightBorder text-whpptDarkMode;
        &--active {
            @apply border-whpptDarkMode;
        }   
        &__header {
            @apply border-whpptDarkMode;
        }

        &__contents{
            &--left{ @apply border-whpptDarkMode }
        }
    }
}


.whppt-popup  {
    @apply bg-whpptDarkBorder text-whpptLightMode font-Roboto left-20 hidden;
    position: fixed;
    width: 0;
    transition: width 0.3s ease;
    right:0;
    height: 100vh;
    z-index: 998;
    top:0;
    &--fullNav{
        @apply left-56;
    }
    
    &--active {
        @apply border-l-2 border-whpptDarkMode block;
        width: 100%;

    }

    &__contents{
        input, textarea{
            @apply text-whpptDarkMode border-2 border-whpptDarkMode w-full p-3 rounded;
        }

 
    }
    &__tabs{
        min-height: 74px;
        @apply px-10 flex w-full 
    }
    &__tab {
        @apply h-full mr-5  w-full text-left ;
        &--inline {
            @apply inline-block
        }
        &--active {
            @apply text-whpptActive ;
            .whppt-popup__tab--underline{
                @apply border-whpptActive 
            }
        }
        &--underline{
            @apply border-b-2 border-transparent 
        }
    }
 
}